/* Developed by: Matheus Mielle Silva and Bereket Lemma
May 19th, 2023 */


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='filter.css') }}">
  </head>
  <body>
    <h2>EXPLORE</h2>

    <input
      type="text"
      id="myInput"
      onkeyup="myFunction()"
      placeholder="Search for names.."
      title="Type in a name"
    />

    <table id="myTable">
      <tr class="header"></tr>
      {% for index, query in queries.items() %}
      <tr>
        <td><a href="/result/{{ index }}">{{ query['name'] }}</a></td>
      </tr>
      {% endfor %}
    </table>

    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </body>
</html>
